body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* Chat Container Styles */
.chat-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 80vh;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.heading {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
  color: #2a2d30;
  font-weight: bold;
}

/* Messages Styles */
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  max-width: 70%;
  padding: 12px 18px;
  margin: 8px 0;
  border-radius: 15px;
  word-wrap: break-word;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.4;
}
.head{
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #f4f2f2 1px solid;
}

.name-input { 
  max-width: 115px;
  height: 20px;
   margin-bottom: 10px;
    padding: 2px;
     border: 2px solid #ccc; 
     border-radius: 20px; 
     font-size: 50px
}
.message.self {
  align-self: flex-end;
  background-color: #e0e9e9; /* Background color for self messages */
  color: #333;
}

.message.self::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  right: -10px;
  top: 10px;
}

.message.other {
  align-self: flex-start;
  background-color: #ffffff; /* Background color for received messages */
  color: #333;
  border: 1px solid #ddd;
}

.message.other::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #ffffff;
  left: -10px;
  top: 10px;
}

/* Form Styles */
form {
  display: flex;
  padding: 15px;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
}

input[type="text"] {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 14px;
  outline: none;
}

button[type="submit"] {
  padding: 10px 18px;
  margin-left: 10px;
  background-color: #393d42;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #7f8286;
  color: #333;
}

/* Scrollbar Customization */
.chat-container::-webkit-scrollbar {
  width: none;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 8px;
}
